.header {
    background-image: url("images/header.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 38rem;
}

.section {
    background-color: aliceblue;
    background-image: url("images/section.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 54.5rem;
}

.footer {
    background-color: aliceblue;
    background-image: url("images/footer.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 69rem;
}
