body {
    background-color: #D6801E;
}
.header {
    padding: 0;
}

.section {
    display: inline-block;
    position: relative;
    padding: 0;
}

.section a {
    position: absolute;
    bottom: 32em;
    right: 4em;
    border-radius: 1.5em;
    text-transform: uppercase;
    padding: 1em 1.5em;
    font-weight: bold;
}

.img {
    margin: 0;
    width: 100%;
}

.footer {
    padding: 0;
}
