body {
    background-color: #D6801E;
}
.header {
    padding: 0;
}

.section {
    display: inline-block;
    position: relative;
    padding: 0;
}

.section a {
    position: absolute;
    bottom: 32em;
    right: 4em;
    border-radius: 1.5em;
    text-transform: uppercase;
    padding: 1em 1.5em;
    font-weight: bold;
}

.img {
    margin: 0;
    width: 100%;
}

.footer {
    display: inline-block;
    position: relative;
    padding: 0;
}

.footer a img {
    width: 8%;
}

.footer .instagram {
    position: absolute;
    bottom: 12em;
    left: 6em;
    border-radius: 1.5em;
    text-transform: uppercase;
    padding: 1em 1.5em;
    font-weight: bold;
}

.footer .fb {
    position: absolute;
    bottom: 12em;
    left: 10em;
    border-radius: 1.5em;
    text-transform: uppercase;
    padding: 1em 1.5em;
    font-weight: bold;
}

.footer .www {
    position: absolute;
    bottom: 12em;
    left: 14em;
    border-radius: 1.5em;
    text-transform: uppercase;
    padding: 1em 1.5em;
    font-weight: bold;
}
