.header {
    background-color: aliceblue;
    background-image: url("images/header.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 99vh;
}

.section {
    background-color: aliceblue;
    background-image: url("images/section.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 145vh;
}

.footer {
    background-color: aliceblue;
    background-image: url("images/footer.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 180vh;
}
